@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  color: #777;
  font-size: 16px;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
  margin: 0;
}

p, a {
  -webkit-font-smoothing: antialiased;
  color: #777;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #a883af;
  transition: .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.js-slideIn {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 5s;
}

.js-fadeIn {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s;
}

.l-container {
  width: 90%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.l-container__title {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
}

.l-container__body {
  overflow: hidden;
}

.l-container__ornament__span {
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.l-container__ornament:before, .l-container__ornament:after {
  border-top: 3px solid black;
  content: '';
  display: block;
  position: relative;
  z-index: 0;
}

.l-container__ornament:before {
  top: 20px;
}

.l-container__ornament:after {
  top: -10px;
}

.l-header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background: #e37dde;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  transition: .3s;
  z-index: 2;
}

.l-header.float_active {
  transition: .3s;
  background: #777;
}

.l-header__title {
  font-size: 24px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

.c-menu {
  display: flex;
  font-size: 24px;
  font-family: "Amatic SC", cursive;
  position: relative;
  right: 30px;
}

.c-menu__item {
  margin-right: 18px;
}

.c-menu__link {
  -webkit-font-smoothing: initial;
}

.p-hero {
  background-image: url("../images/pizza1.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-hero__title {
  font-size: 38px;
  font-family: "Amatic SC", cursive;
  color: #fff;
  text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);
}

.p-news {
  width: 0%;
}

.p-news__item {
  text-align: center;
}
