// ==================================
// footer
// ==================================
.l-footer {
  background: #d6e9ad;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  @include mq() {
    font-size: $font-size_s;
  }
}
