//=========
//hero
//=========
.p-hero{
    background-image: url('../images/pizza1.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:760px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        font-size:$font-size_3l;
        font-family: $font-family_corp;
        color:#fff;
        text-shadow:0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
        
    }
}