//==================
//menu
//==================
.c-menu{
  display: flex;
  font-size: $font-size_xl;
  font-family: $font-family_corp;
  position: relative;
  right: 30px;
  &__item{
      margin-right:$font-size_l;
  }
  &__link{
      -webkit-font-smoothing:initial;
  }
}
